
This is a test of {{ template_engine }}.

{{ #details }}
To render a string, use {{ string_fn }}.
To render a file, use {{ file_fn }}.
{{ /details }}

{{ ^nothing }}
	Printed because this value doesn't exist
{{ /nothing }}

List of numbers:
	{{ #numbers }}
	* {{ num }}
	{{ /numbers }}
	{{ ^numbers }}
	* No numbers to display.
	{{ /numbers }}

	Some letters: {{ #letters }}{{ . }} {{ /letters }}

{{ #done }}
mustache.lua is completely done.
{{ /done }}
{{ ^done }}
mustache.lua is still being worked on.
{{ /done }}
